version: 2
updates:
  - package-ecosystem: gomod
    directory: /
    schedule:
      interval: daily
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: daily
  - package-ecosystem: "pip"
    directory: "/receptorctl"
    groups:
      dependencies:
        patterns:
          - "*"
    schedule:
      interval: "weekly"
    labels:
      - "pip"
      - "dependencies"
