.idea
receptor
receptor.exe
receptor.app
recepcert
net
receptorctl-test-venv/
rpmbuild/
.container-flag*
.rpm-flag*
.rpm-builder-flag
.VERSION
kubectl
/receptorctl/AUTHORS
/receptorctl/ChangeLog
/receptor-python-worker/ChangeLog
/receptor-python-worker/AUTHORS
.vagrant/
Dockerfile

tests/
!tests/environments/container-*/*.conf
!tests/environments/container-*/*.sh
