.DS_Store
.idea
.vscode
kind
receptor
receptor.exe
receptor.app
recepcert
/net
.container-flag*
.VERSION
.python-version
kubectl
/receptorctl/.nox
/receptorctl/.VERSION
/receptorctl/AUTHORS
/receptorctl/ChangeLog
/receptor-python-worker/.VERSION
/receptor-python-worker/ChangeLog
/receptor-python-worker/AUTHORS
/receptorctl/venv/
receptorctl-test-venv/
.vagrant/
/docs/build
/dist
/test-configs
coverage.txt
venv
/vendor
pkg/services/.lock
pkg/workceptor/status
pkg/workceptor/status.lock
**/__debug_*
.history/