.DS_Store
.idea
.vscode
receptor
receptor.exe
receptor.app
recepcert
/net
receptorctl-test-venv/
.container-flag*
.VERSION
kubectl
/receptorctl/.VERSION
/receptorctl/AUTHORS
/receptorctl/ChangeLog
/receptor-python-worker/.VERSION
/receptor-python-worker/ChangeLog
/receptor-python-worker/AUTHORS
/receptorctl/venv/
.vagrant/
/docs/build
/dist
