[Unit]
Description=Receptor

[Service]
ExecStart=/usr/bin/receptor -c /etc/receptor/%i.conf
User=receptor
Group=receptor

[Install]
WantedBy=multi-user.target
