%bcond_without check
%global debug_package %{nil}
%global __os_install_post %{_rpmconfigdir}/brp-compress

Name:           receptor
Version:        {{ version }}
Release:        {{ release }}%{?dist}

# https://github.com/project-receptor/receptor
%global goipath         github.com/project-receptor/receptor

%global common_description %{expand:
Project Receptor is a flexible multi-service relayer with remote execution and
orchestration capabilities linking controllers with executors across a mesh of
nodes.}

Summary:        Project Receptor is a flexible multi-service relayer with remote execution and orchestration capabilities linking controllers with executors across a mesh of nodes

# Upstream license specification: Apache-2.0
License:        ASL 2.0
URL:            https://%{goipath}
Source0:        https://%{goipath}/archive/%{version}/%{name}-%{version}.tar.gz

%if %{with check}
# Tests
BuildRequires:  iproute
BuildRequires:  openssl
%endif

BuildRequires: golang < 1.15
BuildRequires: git >= 2.0
Requires: systemd
Requires: receptor-python-worker
Requires: receptorctl

%description
%{common_description}

%prep
%setup -q

%build
go build -ldflags "-X main.version=%{version}" -o ./receptor cmd/receptor.go
./receptor --bash-completion > receptor.completion

%install
install -m 0755 -vd                     %{buildroot}%{_bindir}
install -m 0755 -vp receptor            %{buildroot}%{_bindir}/receptor
install -m 0755 -vd                     %{buildroot}%{_sysconfdir}/systemd/system
install -m 0644 -vp packaging/rpm/receptor.service %{buildroot}%{_sysconfdir}/systemd/system/receptor@.service
install -m 0755 -vd                     %{buildroot}%{_sysconfdir}/receptor
install -m 0644 -vp packaging/rpm/receptor.conf.example %{buildroot}%{_sysconfdir}/receptor/receptor.conf.example
install -m 0755 -vd                     %{buildroot}%{_datadir}/bash-completion/completions
install -m 0644 -vp receptor.completion %{buildroot}%{_datadir}/bash-completion/completions/receptor

%if %{with check}
%check
export PATH=$PATH:%{buildroot}%{_bindir}
go test ./... -p 1 -parallel=16 -count=1 -failfast
%endif

%files
%{_bindir}/*
%{_datadir}/bash-completion/completions/receptor
%{_sysconfdir}/receptor/receptor.conf.example
%{_sysconfdir}/systemd/system/receptor@.service
