---
name: Build CI Runner Image

on:
  workflow_dispatch:
  schedule:
    - cron: '30 4 * * *'

jobs:
  build:
    name: Build CI Runner
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Docker Login
        uses: azure/docker-login@v1
        with:
          login-server: docker.pkg.github.com
          username: $GITHUB_ACTOR
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Image
        run: docker build ./build/ci-action -t receptor-actions-ci-runner

      - name: Push Image
        run: docker tag receptor-actions-ci-runner docker.pkg.github.com/project-receptor/receptor/receptor-actions-ci-runner:latest && docker push docker.pkg.github.com/project-receptor/receptor/receptor-actions-ci-runner:latest
