---
name: CI

on:
  pull_request:
  push:

jobs:
  lint:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v2
        with:
          version: v1.39
  build:
    name: build
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.16

      - uses: actions/cache@v2
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Checkout
        uses: actions/checkout@v2

      - name: build-all target
        run: make build-all
  test:
    name: test
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.16

      - uses: actions/cache@v2
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Setup up python
        uses: actions/setup-python@v2

      - name: Install python packages
        run:  sudo apt-get install python3-wheel python3-virtualenv

      - name: Checkout
        uses: actions/checkout@v2

      - name: install receptor
        run: go build -o $GOROOT/bin/receptor ./cmd/receptor-cl

      - name: Download kind binary
        run: curl -Lo ./kind https://kind.sigs.k8s.io/dl/v0.11.1/kind-linux-amd64 && chmod +x ./kind

      - name: Create k8s cluster
        run: ./kind create cluster

      - name: Interact with the cluster
        run: kubectl get nodes

      - name: test target
        run: make test

      - name: receptorctl-tests target
        run: make receptorctl-tests

      - name: Remove sockets for artifacting
        if: ${{ failure() }}
        run: "find /tmp/receptor-testing -type s -exec /bin/rm {} \\;"

      - name: get k8s logs
        if: ${{ failure() }}
        run: .github/workflows/artifact-k8s-logs.sh

      - name: Artifact receptor data
        uses: actions/upload-artifact@v2
        if: ${{ failure() }}
        with:
          name: test-logs
          path: /tmp/receptor-testing
