---
name: CI

on:
  pull_request:
  push:

jobs:
  lint-receptor:
    name: lint-receptor
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v2
        with:
          version: v1.39
  lint-receptorctl:
    name: lint-receptorctl
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup up python
        uses: actions/setup-python@v2

      - name: Install tox
        run:  sudo apt-get install tox

      - name: Run receptorctl linters
        run: make receptorctl-lint
  build:
    name: build
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.15

      - uses: actions/cache@v2
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Checkout
        uses: actions/checkout@v2

      - name: build-all target
        run: make build-all

      - name: Archive binary
        uses: actions/upload-artifact@v2
        with:
          name: receptor
          path: receptor
  test:
    name: test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.15

      - name: Setup up python
        uses: actions/setup-python@v2

      - name: Install tox (for python tests)
        run:  sudo apt-get install tox

      - uses: actions/cache@v2
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: install receptor
        run: go build -o $GOROOT/bin/receptor ./cmd/receptor-cl

      - name: Download kind binary
        run: curl -Lo ./kind https://kind.sigs.k8s.io/dl/v0.11.1/kind-linux-amd64 && chmod +x ./kind

      - name: Create k8s cluster
        run: ./kind create cluster

      - name: Interact with the cluster
        run: kubectl get nodes

      - name: Run receptorctl tests
        run: make receptorctl-test

      - name: Run receptor tests
        run: make test

      - name: get k8s logs
        if: ${{ failure() }}
        run: .github/workflows/artifact-k8s-logs.sh

      - name: Artifact receptor data
        uses: actions/upload-artifact@v2
        if: ${{ failure() }}
        with:
          name: test-logs
          path: /tmp/receptor-testing
